# pnpm淘宝依赖安装源
registry=https://registry.npmmirror.com

# 约束node版本、配置package.json文件下的engines
engine-strict=true

# npm i 是否生成package-lock.json文件
package-lock=false

# pnpm i 是否生成pnpm-lock.yaml文件、yarn 生成yarn.lock文件
lockfile=true

# 提升不在根目录下的依赖包、都放在一个级别、扁平化
shamefully-hoist = true


